<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-1yhB7WPWomDp4XT4tl4s4sCv6PNTJS6+dPH84q3X9b9FvWEVWnfbE2Q7V71RtpPvL37NnhW8D3Fq3JXp6pfZVw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'posts:index' %}">Home</a></li>
        <li><a href="{% url 'posts:post_list' %}">Posts</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'posts:post_create' %}">New post</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
